<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ntb1"
                 maxReceivedMessageSize="210000000"
                 maxBufferPoolSize="210000000"
                 maxBufferSize="210000000"
                 closeTimeout="00:02:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="65536000"
                        maxArrayLength="655360000"
                        maxBytesPerRead="32768"
                        maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sb1">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="1024" maxConcurrentCalls="1024" maxConcurrentInstances="1024"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>